body{
    min-height: 300px;
    min-width: 400px;
}
#first {
    padding: 5px;
    margin-bottom: 15px;
    width: fit-content;
    /* border: 2px solid #A4BE7B; */
    border-radius: 15px;
}

#second>button {
    /* padding: 5px; */
    margin-right: 5px;
    /* background-color: #5F8D4E; */
    border-radius: 10px;
}

.box {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 2px solid black;
    box-shadow: 5px 5px gray
}
.box1 {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* width: 150px; */
    height: 25px;
    border: 2px solid black;
    box-shadow: 5px 5px gray
}